.category {
  width: 700px;
  height: 45px;
  border: 1px solid;
  border-radius: 12px;
  background-color: #09d3ac;
  text-decoration: none;
  color: black;
  position: relative;
}

.categoryItemWrapper {
  padding: 5px;
}

.boldText {
  font-weight: 600;
  font-size: 17px;
}

.crossDelete {
  position: absolute;
  right: 0;
  padding-right: 5px;
  color: aliceblue;
}
