.forum {
  width: 700px;
  height: 45px;
  border: 1px solid;
  border-radius: 12px;
  background-color: blueviolet;
  text-decoration: none;
  color: black;
  position: relative;
}

.forumItemWrapper {
  padding: 5px;
  display: grid;
  justify-content: center;
}

.boldText {
  font-weight: 600;
  font-size: 17px;
}

.crossDelete {
  position: absolute;
  right: 0;
  padding-right: 5px;
}
